<!DOCTYPE HTML>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href="{% static 'exam/css/index_style.css' %}" />
</head>
<body>
    <div id=container>
        {% if messages%}
            {% for message in messages %}
                {% if 'register' in message.tags %}
                    <p class='error'>
                        {{message}}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <h1>Registration</h1>
        <form id='register' action="/register" method="POST">
            {% csrf_token %}
            <label>
                Name: <input type='text' name='name' />
            </label>
            <label>
                User Name: <input type='text' name='user_name'  />
            </label>
            <label>
                Password: <input type='password' name='password' />
            </label>
            <label>
                Confirm Password: <input type='password' name='conf_pw' />
            </label>
            <input class='button' type='submit' value='Reigster' />
        </form>
        {% if messages%}
            {% for message in messages %}
                {% if 'login' in message.tags %}
                    <p class='error'>
                        {{message}}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form id='login' action='/login' method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <label>
                Username: <input type='text' name='user_name'  />
            </label>
            <label>
                Password: <input type='password' name='password' />
            </label>
            <input class='button' type='submit' value='Login' />
        </form>
    </div>
</body>
</html>
